body {
    margin: 0;
}

section {
    width: 500px;
    height: 600px;
    display: grid;
    grid-template-columns: 150px 1fr;    /* 2 columns. Widths of 150px and 350px */  
    grid-template-rows: 50px 1fr 50px;   /* 3 rows.    Heights of 50px 500px and 50px*/   
    
    grid-template-areas: "one two" 
                         "three four" 
                         "five five";
}

span {
    border: 1px solid black;
}

#one {
    grid-area: one;
}

#two {
    grid-area: two;
}

#three {
    grid-area: three;
}

#four {
    grid-area: four;
}

#five {
    grid-area: five;
}