body {
    margin: 0;
}

section {
    display: grid;

    width: 500px;
    height: 600px;
    
    grid-template-columns: 150px 2fr 1fr;    /* 2 columns. Widths of 150px and 350px */  
    grid-template-rows: 50px 1fr 50px;   /* 3 rows.    Heights of 50px 500px and 50px*/   
}

span {
    border: 1px solid black;
}


/*
    2 / (2+1) = 2/3 * 350
*/