:root {
    --card-spacing: 8px;
    --color-white: white;

}

body {
    font-family: 'Raleway', Arial, sans-serif;
    font-size: 1rem;
    background: linear-gradient(#858c90, #bbb);
    background-attachment: fixed;

}
header{
    background: linear-gradient(#858c90, #bbb);
    color: rgb(255, 255, 255, 0.8);
    position: sticky;
    top: 0;
    height: 50px;
    
}
header > h1{
    font-size: 1.1rem;
    padding-left: 0px;
}
header > p {
    font-size: 0.9rem;
    padding-left: 20px;

}
header > h1, header > p{
    display: inline-block;
    border-right: 1px solid rgb(255, 255, 255, 0.5);
    padding-right: 20px;
}




#trello-board{
    white-space: nowrap;
}

.trello-list {
    background-color: #ddd;
    border-radius: 2px 3px 2px 3px;
    display: inline-block;
    margin-right: 10px;
    white-space: normal;
    width: 300px;
    vertical-align: top;
}

h2{
    font-size: 1rem;
    font-weight: 600;
    margin: 0;
    padding: var(--card-spacing);
}

ol {
    padding: 0;
    margin: 0;

}
.trello-list li.card {
    background-color: white;
    font-size: .9rem;
    list-style: none;
    margin-bottom: 10px;
    padding: var(--card-spacing);

}
.trello-list li.card:hover {
    background-color: #f5f6f7;
    color: #092d42;
    cursor: pointer;

}
.trello-list li.card:last-child {
margin-bottom: 0;

}
.label{
    background-color: red;
    border-radius: 3px;
    display: inline-block;
    height: 8px;
    width: 35px;
}
.label.general{
    background-color: orange;

}
.label.pathway{
    background-color: red;
}
.label.individual{
    background-color: green;

}
.label.pair{
    background-color: teal;
}

a{
    box-sizing: border-box;
    color: #999;
    display: inline-block;
    text-decoration: none;
    font-size: .8rem;
    padding: var(--card-spacing);
    width: 100%;
}
a:hover{
    background-color: rgba(9, 45, 66, 0.146);
}