body {
  background: #eceee5;
  margin-top: 25vh;
  text-align: center;
}

table, tr, td {
  width: 50vw;
  margin: 0 auto;
  border:1px solid black;
  border-collapse: collapse;
}

tr:hover {
  cursor: pointer;
}

tr.clicked {
  background-color: gray;
}

button {
  margin-top: 1rem;
}